.button {
    background-color: #F4CE14;
    color: #495E57;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    margin: 20px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.buttonDisabled {
    background-color: rgb(193, 189, 189);
    color: black;
    padding: 10px 40px;
    font-size: 20px;
    transition: 0.5s;
    margin: 20px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}