.article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #EDEFEE;
    width: 30%;
    border-radius: 15px;
}

.card img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    margin-bottom: 0.9375rem;
    transition: all ease-in-out 0.3s;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cardHeader h3 {
    font-family: "Markazi Text", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #495E57;
}

.cardHeader span {
    color: #EE9972;
    font-weight: bold;
    font-size: 16px;
}

.cardFooter {
    padding: 20px;
    text-align: left;
}