/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Karla', sans-serif;
}

/* Root element */
#root {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/* Lists */
ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: #F4CE14;
}