.footer {
    display: flex;
    justify-content: center;
    height: 417px;
    width: 100%;
    background-color: #495E57;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 887px;
    width: 100%;
}

.logo {
    width: 162px;
    height: 279px;
    margin-right: 50px;
}

.items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}